@import "variables";
body{
    height: 100vh;
    
}

.box{
    width: 40vh;
    height: 70vh;
margin-top: 15vh;
position: relative;




a{
font-size: 12px;
text-decoration: none;

}

.img1{
width: 3vh;

position: absolute;
right: 14%;
top: 35%;

 }

.img2{
    width: 3vh;

position: absolute;
right: 14%;
top: 53%;
}



}






 